<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
</head>

<body>
    <h2>Статьи</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Content</th>
        </tr>
        {{#each articles}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.content}}</td>
            <td>
                <a href="/articles/articleEdit/{{this.id}}">Edit</a>|
                <form method="POST" action="/articles/delete/{{this.id}}?_method=DELETE" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
    <p><a href="/articles/articleCreate/">Create New Article</a></p><br>
    <p><a href="/main">HOMEPAGE</a></p>
</body>

</html>