<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categories</title>
</head>

<body>
    <h2>Категории</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            {{#each categories}}
            <tr>
                <td>{{this.name}}</td>
                <td>
                    <a href="/categories/categoryEdit/{{this.id}}">Edit</a>|
                    <form method="POST" action="/categories/delete/{{this.id}}?_method=DELETE" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p><a href="/categories/categoryCreate/">Create New Category</a></p><br>
    <p><a href="/main">HOMEPAGE</a></p>
</body>

</html>