<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>categoryEdit</title>
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>

<body>
    <h2>Редактирование существующей категории</h2>
    <form method="POST" action="/categories/categoryEdit/{{this.id}}?_method=PUT">
        <input type="hidden" name="id" value="{{category.id}}" />
        <label>Name</label><br>
        <input type="text" name="name" value="{{category.name}}" class="field" /><br><br>
        <input type="submit" value="Send" />
    </form>
    <p><a href="/categories">Возврат к странице "Категории"</a></p><br>
    <p><a href="/main">HOMEPAGE</a></p>
</body>

</html>